services:
  db:
    image: postgres:17
    container_name: pgauth
    restart: always
    environment:
      POSTGRES_USER: testuser
      POSTGRES_PASSWORD: mysecretpassword
      POSTGRES_DB: pgauth-testdb
    ports:
      - "5433:5432"
    volumes:
      - pgauth_data:/var/lib/postgresql/data

volumes:
  pgauth_data:
    name: pgauth_data
